# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
dependency-reduced-pom.xml

# Python
*.pyc
scripts/simple_spark.py
scripts/get_apn_audience_stats.py
spark-warehouse/
